<%= form_for(@film) do |f| %>
  <% if @film.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@film.errors.count, "error") %> prohibited this film from being saved:</h2>

      <ul>
      <% @film.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label 'tytuł' %>
    <%= f.text_field 'tytul' %>
  </div>

  <div>
    <%= f.label 'rok' %>
    <%= f.text_field 'rok' %>
  </div>

  <div>
    <%= f.label 'kino' %>
    <%= f.collection_select :kino_id, Kino.all, :id, :nazwa %>
  </div>

  <div class="actions">
    <%= f.submit 'Stwórz' %>
  </div>
<% end %>
