<h1>Lista kin</h1>
<table>
  <tr>
    <th>Nazwa:</th>
    <th>Adres:</th>
    <th>Odległość:</th>
    <th></th>
  </tr>

<% @kina.each do |kino| %>
  <tr>
    <td><%= @kina[1].nazwa %></td>
    <td><%= @kina[1].adres %></td>
    <td><%= "#{@kina[0].to_km} km" %></td>
    <td><%= link_to 'Pokaż', kino %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Kino', new_kino_path %>
